COMPOSE_PROJECT_NAME=interbank-lab
POSTGRES_VERSION=16.4
MONGODB_VERSION=8.0
KAFKA_VERSION=3.9.0
KEYCLOAK_VERSION=26.0
LOCALSTACK_VERSION=4.0
MAILPIT_VERSION=v1.21.8
POSTGRES_USER=interbank
POSTGRES_PASSWORD=interbank_local_only
POSTGRES_DB=interbank_admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_local_only
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
